@forward "element-plus/theme-chalk/dark/css-vars.css";

html.dark {
  --el-bg-color: var(--el-bg-color-overlay);
  --el-color-primary-light-1: var(--el-color-primary-dark-1) !important;
  --el-color-primary-light-2: var(--el-color-primary-dark-2) !important;
  --el-color-primary-light-3: var(--el-color-primary-dark-3) !important;
  --el-color-primary-light-4: var(--el-color-primary-dark-4) !important;
  --el-color-primary-light-5: var(--el-color-primary-dark-5) !important;
  --el-color-primary-light-6: var(--el-color-primary-dark-6) !important;
  --el-color-primary-light-7: var(--el-color-primary-dark-7) !important;
  --el-color-primary-light-8: var(--el-color-primary-dark-8) !important;
  --el-color-primary-light-9: var(--el-color-primary-dark-9) !important;

  // 编辑器
  --w-e-textarea-bg-color: #333;
  --w-e-textarea-color: white;
  --app-border-color: hsl(240deg 3.7% 22%);
  --app-logo-text-color-light: var(--el-text-color-primary);
  --app-logo-text-color-dark: var(--el-text-color-primary);
  --app-aside-bg-dark: var(--el-bg-color-overlay);
  --app-aside-bg-light: var(--el-bg-color-overlay);
  --app-aside-active-bg-color: var(--el-color-primary);
  --app-header-text-color: #eee;
  --app-header-bg-color: var(--el-bg-color-overlay);
  --app-header-hover-color: var(--el-border-color-dark);
  --app-main-bg-color: #141414;

  .el-popover.el-popper {
    background-color: var(--el-bg-color-overlay);
  }

  // 编辑器
  .v-md-editor textarea {
    color: white;
  }

  .v-md-editor .scrollbar__wrap {
    color: #999;
    background-color: #444;
  }

  .el-switch .el-switch__core {
    border: 1px solid #444 !important;

    &::before {
      // switch 主题色 hover 边框
      border: 1px solid var(--el-color-primary) !important;
    }
  }
}
