// 覆盖element-plus样式

.el-menu {
  border-right: none !important;
}

.el-menu-item,
.el-sub-menu__title {
  height: 50px !important;
  overflow: hidden;
  &:hover {
    background-color: unset;
    color: var(--theme-menu-hover-color) !important;
  }
}

.el-menu-item {
  height: 45px !important;
  line-height: 45px !important;
}

.el-menu-item .svg-icon,
.el-sub-menu .svg-icon {
  font-size: 16px !important;
  display: inline-block;
  width: 24px;
  margin-right: 5px;
  vertical-align: middle;
  text-align: center;
}

.el-sub-menu.is-active > :first-child {
  overflow: hidden;
  color: var(--theme-menu-hover-color) !important;
}

.el-menu-item.is-active {
  position: relative;
  overflow: hidden;
  background-color: var(--el-color-primary);
}
.el-sub-menu.is-active.is-opened {
  .el-sub-menu__title {
    background-color: unset !important;
  }
}

.el-menu {
  --el-menu-bg-color: transparent;
  --el-menu-text-color: var(--theme-menu-text-color);
  --el-menu-active-color: var(--theme-menu-hover-color);
}

// 2.5.0之后， el-select 的默认宽度更改为 100% 当使用内联形式时，宽度将显示异常bug
.el-form--inline {
  .el-form-item {
    & > .el-input, .el-cascader, .el-select, .el-date-editor, .el-autocomplete {
      width: 240px;
    }
  }
}

/*
 * 表格操作按钮
 */
.el-table td.el-table__cell div .el-button {
  padding: 0 10px;
  height: 12px;
  line-height: 10px;
  border-radius: 0;

  &:nth-of-type(1) {
    padding-left: 0;
  }
}
.el-table td.el-table__cell div .el-button + .el-button {
  margin-left: 0;
  height: 12px;
  line-height: 10px;
  border-left: 1px solid #e4e7ec;
}
