// 覆盖 element-plus 样式

// 2.5.0之后， el-select 的默认宽度更改为 100% 当使用内联形式时，宽度将显示异常bug
.el-form--inline .el-form-item {
  & > .el-input,
  .el-cascader,
  .el-select,
  .el-date-editor,
  .el-autocomplete {
    width: 220px;
  }
}

// 表单标签字体大小
.el-form-item {
  --font-size: var(--el-font-size-base) !important;
}

// input框、select框字体大小
.el-input__inner,
.el-select__placeholder > span {
  font-size: 1rem;
}

// 输入框右侧clearable图标 样式聚焦变宽问题修复
.el-input__wrapper {
  position: relative;

  .el-input__inner {
    padding-right: 18px;
  }

  .el-input__suffix {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
  }
}

// icon 垂直居中
.el-form-item__label {
  align-items: center !important;
}

// radio 垂直居中
.el-radio__label {
  display: flex;
  align-items: center;
}

// 按钮去除外边框
.el-button {
  outline: none !important;
}

// 上传按钮间距
.el-button + .el-upload-container,
.el-upload-container + .el-button {
  margin-left: 12px;
}

// drawer 样式 header 添加分隔线
.el-drawer .el-drawer__header {
  padding: 15px;
  margin-bottom: 0 !important;
  color: var(--el-text-color-primary);
  border-bottom: 1px solid var(--el-border-color);

  .el-drawer__title {
    font-size: 1rem;
  }
}

// 分割线字体大小
.el-divider__text {
  font-size: 1rem;
}


