// 覆盖element-plus样式

// 菜单图标
.el-menu-item .svg-icon,
.el-sub-menu .svg-icon {
  font-size: 1.14rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.28rem;
  width: 1.71rem;
  text-align: center;
}

// 菜单字体
.el-menu-item, .el-sub-menu__title {
  font-size: unset;
}

// 侧边栏弹出菜单
.sidebar-menu-popper, .el-menu--horizontal.el-menu--popup-container {
  .el-menu-item, .el-sub-menu__title {
    //  高度 和 顶栏弹出菜单 高度一致
    height: var(--el-menu-horizontal-sub-item-height);
    line-height: var(--el-menu-horizontal-sub-item-height);
    &:hover {
      color: var(--el-color-primary);
    }
  }
  // 子菜单
  .el-sub-menu.is-active > .el-sub-menu__title {
    color: var(--el-menu-active-color);
  }
  // 菜单项
  .el-menu-item.is-active {
    background-color: var(--theme-menu-active-bg-color);
  }
}

// 2.5.0之后， el-select 的默认宽度更改为 100% 当使用内联形式时，宽度将显示异常bug
.el-form--inline {
  .el-form-item {
    & > .el-input, .el-cascader, .el-select, .el-date-editor, .el-autocomplete {
      width: 240px;
    }
  }
}

/*
 * 输入框右侧clearable图标 样式聚焦变宽问题修复
 */
.el-input__wrapper {
  position: relative;
  .el-input__inner {
    padding-right: 18px;
  }
  .el-input__suffix {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}

// radio 组列显示
.el-radio-group-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/**
 * icon 垂直居中
 */
.el-form-item__label {
  align-items: center;
}

/**
 * radio 垂直居中
 */
.el-radio__label {
  display: flex;
  align-items: center;
}

/*
 * 表格操作中的按钮
 */
.el-table td.el-table__cell div .el-button {
  padding: 0 10px;
  height: 12px;
  line-height: 10px;
  border-radius: 0;

  &:nth-of-type(1) {
    padding-left: 0;
  }
}

/*
 * 表格操作中的相邻按钮（从第二个开始）
 */
.el-table td.el-table__cell div .el-button + .el-button {
  margin-left: 0;
  height: 12px;
  line-height: 10px;
  border-left: 1px solid #e4e7ec;
}

/*
 * 表格操作 dropdown 更多和前面 button 的间距
 */
.btn-more-link {
  display: flex;
  line-height: normal;
  margin-left: 8px;
}

/*
 * 表格操作 dropdown 前的 ｜样式
 */
.el-table td.el-table__cell div .el-dropdown {
  height: 12px;
  line-height: 10px;
  border-radius: 0;

  padding-left: 0;
  margin-left: 0;
  border-left: 1px solid #e4e7ec;
  top: 7px;
}

/**
 * drawer 样式header添加分隔线
 */
.el-drawer .el-drawer__header {
  padding: 15px;
  margin-bottom: 0 !important;
  border-bottom: 1px solid var(--el-border-color);
  color: var(--el-text-color-primary);
  .el-drawer__title {
    font-size: 1rem;
  }
}

// 上传按钮间距
.el-button+.el-upload-container, .el-upload-container+.el-button {
  margin-left: 12px;
}

// 分割线字体大小
.el-divider__text {
  font-size: 1rem;
}

// 表单标签字体大小
.el-form-item {
  --font-size: var(--el-font-size-base) !important;
}
// input框、select框字体大小
.el-input__inner, .el-select__placeholder > span{
  font-size: 1rem;
}

// 弹窗 main 区域全屏样式
.modal-dialog-full {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  margin: 10px;

  & > .el-overlay-dialog {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 100%;
    width: 100%;
    overflow: hidden;

    & > .el-dialog {
      height: 100%;
      width: 100%;
      margin: 0;
    }
  }
}
