:root {
  // logo区
  --theme-logo-text-color: var(--el-color-primary);
  --theme-logo-text-fontsize: 18px;

  // 侧边栏菜单
  --theme-menu-width: 230px;
  --theme-menu-min-width: 64px;
  --theme-menu-bg-color: white;
  --theme-menu-active-bg-color: var(--el-color-primary-light-9);
  --theme-menu-border-color: var(--el-color-primary);

  // 顶栏区域
  --theme-header-height: 50px;
  --theme-header-text-color: #444444;
  --theme-header-bg-color: white;
  --theme-header-hover-color: rgba(0, 0, 0, 0.1);

  // 主区域
  --theme-main-bg-color: #f0f2f5;
  --theme-main-tabs-height: 40px;

  // 边框
  --theme-border-color-light: #f1f2f3;
}
