:root {
  // logo 区
  --app-logo-text-color-light: var(--el-color-primary);
  --app-logo-text-color-dark: #eee;


  // 侧边栏菜单
  --app-aside-width: 18rem;
  --app-aside-min-width: 64px;
  --app-aside-bg-light: white;
  --app-aside-bg-dark: #263544;
  --app-aside-active-bg-color: var(--el-color-primary-light-9);
  --app-aside-border-color: var(--el-color-primary);

  // 顶栏区域
  --app-header-height: 3.5rem;
  --app-header-text-color: #444;
  --app-header-bg-color: white;
  --app-header-hover-color: rgb(0 0 0 / 10%);

  // 主区域
  --app-main-bg-color: #f0f2f5;
  --app-main-tabs-height: 2.75rem;
  --app-main-content-padding: 1.5rem;

  // 底部区域
  --app-footer-height: 3.5rem;

  // 边框 #f1f2f3
  --app-border-color: var(--el-border-color-light);
  --app-dark-text-color: rgb(255 255 255 / 66%);
}
